<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fotter</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<footer class="site-footer" th:fragment="footer">
    <div class="copyright">
        <p>All rights reserved. &copy; 2023</p>
    </div>
    <!-- <div class="footer-wrapper-logos">
        <p>
          <a href="https://www.facebook.com/YoursSincerelyJapan" target="_blank"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/yourssincerelyjapan/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://twitter.com/YoursJapan" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        </p>
      </div> -->

    <div class="wrapper">
        <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <a href="https://www.facebook.com/YoursSincerelyJapan" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </div>
        <div class="icon instagram">
            <div class="tooltip">Instagram</div>
            <a href="https://www.instagram.com/yourssincerelyjapan/" target="_blank"><i
                    class="fab fa-instagram"></i></a>
        </div>
        <div class="icon twitter">
            <div class="tooltip">Twitter</div>
            <a href="https://twitter.com/YoursJapan" target="_blank"><i class="fab fa-x-twitter"></i></a>
        </div>
    </div>

    <div class="footer-wrapper-links">
        <p>
            <a href="#">Contacts</a>
            <a href="#">About</a>
            <a href="#">Privacy policy</a>
        </p>
    </div>
</footer>

</body>
</html>