<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit article modal</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
</head>
<body>

<div th:fragment="modal-edit-article">

    <div class="modal fade"
         id="editPost"
         tabindex="-1"
         aria-labelledby="editPostLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <form th:action="@{/articles/edit/{id}(id=${article.id})}" th:method="PUT"
                      enctype="multipart/form-data" id="new-post-form">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="editPostLabel">
                            Edit article
                        </h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="articleTitle" class="form-label">Title:</label>
                            <input type="text"
                                   class="form-control"
                                   id="articleTitle"
                                   name="title"
                                   th:field="*{article.title}"/>

                            <div class="invalid-feedback alert alert-danger" id="new-post-alert"></div>
                        </div>
                        <div class="mb-3">
                            <label for="articleContent" class="form-label">Story:</label>
                            <textarea class="form-control"
                                      id="articleContent"
                                      name="content"
                                      rows="15"
                                      th:field="*{article.content}">
                        </textarea>
                            <div class="invalid-feedback alert alert-danger" id="article-content-alert"></div>
                        </div>
                        <!--<div class="mb-3 d-flex">
                            <label class="form-label" style="margin-right: 1em;">Images:</label>
                            <th:block th:each="picture, pictureStat : ${article.pictures}" th:object="${picture}">
                                <th:block th:text="*{#strings.abbreviate(name, 10)}"></th:block>
                                    <a href="#"
                                       onclick="deletePicture()"
                                       th:data-val="*{id}"
                                       class="text-decoration-none"
                                       style="margin-right: 0.7em;">
                                        <div class="icon new-post">
                                            <i class="fa-solid fa-trash-can" style="color: #bc002d;"></i>
                                        </div>
                                    </a>
                            </th:block>
                        </div>-->
                        <div class="mb-3">
                            <label for="uploadImages" class="form-label">Choose additional images:</label>
                            <input class="form-control" type="file" id="uploadImages" name="uploadImages" multiple>
                        </div>
                        <fieldset class="border rounded-2 p-3" id="fieldset">
                            <legend class="float-none w-auto px-2">Categories:</legend>
                            <div class="form-check form-check-inline"
                                 th:each="categoryName : ${allCategoriesNames}"
                                 th:object="${categoryName}">
                                <input class="form-check-input" type="checkbox"
                                       th:value="*{#strings.toLowerCase(name)}"
                                       th:id="*{#strings.toLowerCase(name)}"
                                       name="selected">
                                <label class="form-check-label"
                                       th:for="*{#strings.toLowerCase(name)}"
                                       th:text="*{#strings.capitalize(#strings.toLowerCase(name))}"></label>
                            </div>
                        </fieldset>
                        <div class="invalid-feedback alert alert-danger" id="checkbox-alert"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Apply changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script th:src="@{/js/validateNewArticleForm.js}"></script>

    <script th:inline="javascript">
        function deletePicture() {

            const button = $(event.relatedTarget);
            const pictureId = button.data('val');

            if (confirm('Are you sure you want to delete this picture?')) {

                // Make an AJAX call to delete the picture
                $.ajax({
                    url: '/pictures/delete/' + pictureId,
                    type: 'DELETE',
                    success: function () {
                    },
                    error: function () {
                        // Handle errors as needed
                    }
                });
            }
        }
    </script>

</div>

</body>
</html>