<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User articles pagination</title>
</head>
<body>

<nav aria-label="Page navigation example" th:fragment="pagination-user-articles">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${userArticles.isFirst()} ? 'disabled' : ''">
            <a th:unless="${userArticles.isFirst()}" class="page-link"
               th:href="@{/users/articles(page=0)}"><i class="fa-solid fa-angles-left"></i></a>
            <a th:if="${userArticles.isFirst()}" class="page-link" href="#"><i class="fa-solid fa-angles-left"></i></a>
        </li>
        <li class="page-item" th:classappend="${userArticles.hasPrevious()} ? '' : 'disabled'">
            <a th:if="${userArticles.hasPrevious()}" class="page-link"
               th:href="@{/users/articles(page=${userArticles.getNumber() - 1})}"><i class="fa-solid fa-angle-left"></i></a>
            <a th:unless="${userArticles.hasPrevious()}" class="page-link" href="#"><i class="fa-solid fa-angle-left"></i></a>
        </li>
        <th:block th:each="pageNumber : ${#numbers.sequence(1, userArticles.getTotalPages())}">
            <li class="page-item" th:classappend="${pageNumber == userArticles.getNumber() + 1} ? 'active' : ''">
                <a class="page-link" th:href="@{/users/articles(page=${pageNumber - 1})}" th:text="${pageNumber}"></a>
            </li>
        </th:block>
        <li class="page-item" th:classappend="${userArticles.hasNext()} ? '' : 'disabled'">
            <a th:if="${userArticles.hasNext()}" class="page-link"
               th:href="@{/users/articles(page=${userArticles.getNumber() + 1})}"><i class="fa-solid fa-angle-right"></i></a>
            <a th:unless="${userArticles.hasNext()}" class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
        </li>
        <li class="page-item" th:classappend="${userArticles.isLast()} ? 'disabled' : ''">
            <a th:unless="${userArticles.isLast()}" class="page-link"
               th:href="@{/users/articles(page=${userArticles.getTotalPages() - 1})}"><i class="fa-solid fa-angles-right"></i></a>
            <a th:if="${userArticles.isLast()}" class="page-link" href="#"><i class="fa-solid fa-angles-right"></i></a>
        </li>
    </ul>
</nav>

</body>
</html>