<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Article comments pagination</title>
</head>
<body>

<nav aria-label="Page navigation article comments" th:fragment="pagination-article-comments">
    <ul class="pagination justify-content-center">
        <li class="page-item" th:classappend="${comments.isFirst()} ? 'disabled' : ''">
            <a th:unless="${comments.isFirst()}" class="page-link"
               th:href="@{/articles/single-article(page=0)}"><i class="fa-solid fa-angles-left"></i></a>
            <a th:if="${comments.isFirst()}" class="page-link" href="#"><i class="fa-solid fa-angles-left"></i></a>
        </li>
        <li class="page-item" th:classappend="${comments.hasPrevious()} ? '' : 'disabled'">
            <a th:if="${comments.hasPrevious()}" class="page-link"
               th:href="@{/articles/single-article(page=${comments.getNumber() - 1})}"><i class="fa-solid fa-angle-left"></i></a>
            <a th:unless="${comments.hasPrevious()}" class="page-link" href="#"><i class="fa-solid fa-angle-left"></i></a>
        </li>
        <th:block th:each="pageNumber : ${#numbers.sequence(1, comments.getTotalPages())}">
            <li class="page-item" th:classappend="${pageNumber == comments.getNumber() + 1} ? 'active' : ''">
                <a class="page-link" th:href="@{/articles/single-article(page=${pageNumber - 1})}" th:text="${pageNumber}"></a>
            </li>
        </th:block>
        <li class="page-item" th:classappend="${comments.hasNext()} ? '' : 'disabled'">
            <a th:if="${comments.hasNext()}" class="page-link"
               th:href="@{/articles/single-article(page=${comments.getNumber() + 1})}"><i class="fa-solid fa-angle-right"></i></a>
            <a th:unless="${comments.hasNext()}" class="page-link" href="#"><i class="fa-solid fa-angle-right"></i></a>
        </li>
        <li class="page-item" th:classappend="${comments.isLast()} ? 'disabled' : ''">
            <a th:unless="${comments.isLast()}" class="page-link"
               th:href="@{/articles/single-article(page=${comments.getTotalPages() - 1})}"><i class="fa-solid fa-angles-right"></i></a>
            <a th:if="${comments.isLast()}" class="page-link" href="#"><i class="fa-solid fa-angles-right"></i></a>
        </li>
    </ul>
</nav>

</body>
</html>