.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  flex-wrap: wrap;
  padding: 1em 2em;

  /* background-image: url(/static/images/header-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; */
}

.main main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 90%; /* looks good at 100%, 90% and 80%. */
}

.site-content .main-section-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* flex-grow: 1;
  flex-shrink: 1; */
}

#main-categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#main-categories > div > h2 {
  color: #bc002d;
}

.site-content > p {
  padding-bottom: 0;
}

.site-content .latest-posts,
.article-container .posted-by {
  font-style: italic;
  font-size: 13px;
}

.main-section-content .section-title {
  display: inline-flex;
  margin: 0 0 0.5em 1em;
  align-items: center;
}

#main-categories #section-title-category {
  margin: 0 0 0.5em 0;
}

#section-categories #section-title-category {
  justify-content: center;
}

.section-title > h3 {
  margin-right: 0.5em;
}

.section-title > a {
  margin-bottom: 1em;
}

.section-title .icon {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  /* margin-left: 1em; */
}

.section-title .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 3px 6px;
  width: 80px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section-title .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.section-title .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #000;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.section-title .icon a {
  color: inherit;
}

.section-title .icon:hover a,
.section-title .icon:hover .tooltip {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.section-title .new-post:hover .tooltip,
.section-title .new-post:hover .tooltip::before {
  background-color: #bc002d;
  color: #ffffff;
}

.section-category {
  display: flex;
  flex: 1 1 20%; /* Items per row - at the moment 3. 25% for four items per row */
  flex-direction: column;
  margin-top: 1em;
  /* margin-bottom: 1em; */
  overflow-wrap: anywhere; /* word-wrap or word-break */
}

#section-categories:first-child {
  margin-top: 1.3em;
}

.section-category:last-child {
  margin-bottom: 0.2em;
}

.section-category > p {
  padding-bottom: 0;
}

.section-category p:first-child {
  padding-top: 0;
}

.section-category > h3 {
  margin-left: 0.5em;
}

.fa-solid.fa-plus {
  color: #bc002d;
  font-size: 25px;
}

.article-container,
.form-container {
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

#article-container-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}

.article-container article,
.form-container form {
  display: flex;
  flex-direction: column;
  flex: 1 1 350px; /* when wrapped on a new line the box remains same as the others if this is "turned off". */
  flex-wrap: nowrap;
  margin: 0 1.5em 1.5em 1.5em;
  border-radius: 0.5em;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.2);
}

.form-container form {
  padding: 1em;
}

#main-categories article {
  display: flex;
  flex-direction: column;
  flex: 1 1 300px; /* when wrapped on a new line the box remains same as the others if this is "turned off". */
  flex-wrap: nowrap;
  margin: 0 1.5em 1.5em 1.5em;
  box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.2);
}

.article-container article .article-title {
  padding: 0.5em 0.5em 0 0.5em;
}

.article-container article .article-title > a {
  text-decoration: none;
  color: #bc002d;
}

.person-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.2em;
}

.ratio {
  flex: 0 0 50px;
  width: 50px;
  height: 50px;
  margin-left: 0.5em;
}

.img-cover{
  object-fit: cover;
  object-position: center;
}

.article-container article .posted-by {
  color: #cccccc;
  padding-top: 0.1em;
  padding-bottom: 0.3em;
}

.article-container article .article-content {
  padding-top: 0.3em;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.article-img {
  padding: 0 1.2em 0.5em 1.2em;
}

.article-text,
.article-img {
  max-width: 100%;
  flex: 1 1 50%;
}

.article-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*.article-text p {
  white-space: pre-wrap; !* Preserve line breaks and wrap long lines *!
  font-family: inherit;
  font-size: inherit;
}*/
