#main-registration, #main-login {
    background-image: url(../images/flag-japan.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.site-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
}