@media (max-width: 960px) {
  .main-section-content {
    flex-direction: column;
    flex-wrap: wrap;
  }
}

/* NOTE: Redusing the size of text also reduces nav button size and they don't wrap */
@media (max-width: 1500px) {
  html {
    font-size: 15px;
  }

  .section-category {
    flex: 1 1 25%;
  }

  .main-news .news-site-content .news-section-category article {
    flex: 1 1 21%;
  }

  .required-asterisk {
    font-size: 25px;
  }
}

@media (max-width: 1240px) {
  html {
    font-size: 14px;
  }

  .section-category {
    flex: 1 1 33.33%;
  }

  .main-news .news-site-content .news-section-category article {
    flex: 1 1 28%;
  }

  .required-asterisk {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 13px;
  }

  .section-category {
    flex: 1 1 50%;
  }

  .main-single-post {
    margin: 1em 0;
  }

  .main-single-post .single-post-site-content .single-post-section-category,
  .main-single-post .single-post-site-content .single-post-comments {
    max-width: 90%;
  }

  .main-news .news-site-content .news-section-category article {
    flex: 1 1 40%;
  }
}

/* I think it looks better at max-width: 600px */
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  .section-category {
    flex: 1 1 100%;
  }

  .main-single-post {
    margin: 1em 0;
  }

  .main-single-post .single-post-site-content .single-post-section-category {
    max-width: 100%;
  }

  .main-news .news-site-content .news-section-category article {
    flex: 1 1 45%;
  }

  #main-profile-section .profile-section {
    flex: 1 1 100%;
  }
}

/* Footer */
@media (max-width: 960px) {
  .site-footer {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
}

@media (max-width: 960px) {
  .site-footer > div > p {
    margin: 0;
    padding: 0.5em;
  }
}
