#main-profile div > h2 {
    color: #bc002d;
}

#main-profile-section {
    display: flex;
    gap: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 2em;
}

#main-profile-section .profile-section {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0.2em rgba(0, 0, 0, 0.2);
    padding: 1em 0;
}

#main-profile-section .profile-section > h5 {
    margin-left: 1em;
}

.in-profile {
    flex: 0 0 75px;
    width: 75px;
    height: 75px;
}

#main-profile-section .profile-section a {
        display: flex;
        padding: 0.5em 1em;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        background: #ffb7c5;
        border: 2px solid #bc002d;
        border-radius: 0.5em;
        transition: all 0.3s ease-in-out;
        text-align: center;
}

#main-profile-section .profile-section a:hover {
    color: #ffb7c5;
    background: #fff;
    border: 2px solid #ffb7c5;
}