<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main-about">
        <main class="about-site-content">
            <div class="mt-2 mb-4 pb-2 border-bottom border-3 border-danger-subtle">
                <h2>About us</h2>
            </div>

            <div class="about-main-section-content">

                <section class="about-section">

                    <div class="about-container">

                        <article>

                            <div class="about-content">
                                <div class="about-text">
                                    <p>
                                        <strong>Welcome to "Yours Sincerely, Japan," where the heart of Japan beats in every story shared!</strong></br></br>
                                        Whether you've strolled through the vibrant streets of Tokyo, found serenity among Kyoto's ancient temples,
                                        or simply daydreamed about your future adventure, you've found a sanctuary here.</br></br>

                                        <strong>Our Mission:</strong></br></br>

                                        At "Yours Sincerely, Japan," we believe in the transformative power of shared experiences.
                                        This platform is a living tapestry woven from the diverse stories of individuals
                                        who have wandered through Japan's enchanting landscapes or are in the thrilling stages of planning their journey.
                                        This is more than a blog; it's a collective odyssey, a symphony of dreams,
                                        adventures, and the harmonious blend of cultures that define Japan's captivating allure.</br></br>

                                        <strong>What We Offer:</strong></br></br>

                                        <b><span>Personal Narratives:</span></b></br>
                                        Dive into the immersive tales of our contributors who have ventured
                                        from the bustling streets of Osaka to the secluded gems of rural landscapes.
                                        Experience Japan through their unfiltered lens as they recount the moments that left an indelible mark.</br></br>

                                        <b><span>Expectations and Curiosities:</span></b></br>
                                        If the Land of the Rising Sun is still on your horizon, share your expectations,
                                        ask questions, and connect with a community of like-minded individuals equally
                                        passionate about Japan. Here, curiosity is celebrated, and dreams are encouraged to flourish.</br></br>

                                        <b><span>Insider Tips:</span></b></br>
                                        Navigate Japan like a seasoned traveler with practical tips and recommendations
                                        from those who have immersed themselves in its beauty. Uncover hidden ramen spots,
                                        discover the coziest ryokans, and stay informed about cultural events that shouldn't be missed.</br></br>

                                        <strong>Join Our Community:</strong></br></br>
                                        "Yours Sincerely, Japan" transcends the boundaries of a traditional blog;
                                        it's a thriving community. Connect with fellow Japan enthusiasts, exchange stories,
                                        and build friendships that extend beyond the digital realm.</br>
                                        Follow us on <a href="https://www.facebook.com/YoursSincerelyJapan" target="_blank">Facebook</a>,
                                        <a href="https://www.instagram.com/yourssincerelyjapan/" target="_blank">Instagram</a> and
                                        <a href="https://twitter.com/YoursJapan" target="_blank">X (Twitter)</a> for a continuous stream of the latest updates,
                                        travel inspiration, and exclusive community features.</br></br>

                                        Embark on a journey with us as we explore the Land of the Rising Sun together.
                                        Your story is not just a narrative; it's a unique piece of the larger mosaic
                                        that makes Japan extraordinary, and we're eager to hear every detail.</br></br>

                                        <strong>Arigatou Gozaimasu!</br></br>

                                        Yours sincerely, Japan team.</strong>
                                    </p>
                                </div>
                            </div>

                        </article>
                    </div>

                </section>

            </div>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

</body>
</html>