<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main">

        <main class="site-content">

            <div class="main-section-content" id="main-categories">

                <div class="mt-2 pb-2 text-center fst-italic border-bottom border-3 border-danger-subtle"><h2>All categories</h2>
                </div>

                <nav th:replace="~{fragments/pagination-all-categories.html :: pagination-all-categories}"></nav>

                <section class="section-category" id="section-categories" th:each="category, categoryStat : ${allCategories}" th:object="${category}">

                    <div class="section-title">
                        <h3><th:block th:text="*{#strings.capitalize(#strings.toLowerCase(name))}"></th:block></h3>
                        <th:block th:if="${#authorization.expression('hasRole(''USER'')')}">
                            <a href="#"
                               class="text-decoration-none"
                               data-bs-toggle="modal"
                               data-bs-target="#createNewPost"
                               th:data-val="*{#strings.toLowerCase(name)}">
                                <div class="icon new-post">
                                    <div class="tooltip">New article</div>
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </a>
                        </th:block>
                    </div>

                    <div class="article-container" id="article-container-categories">

                        <article th:each="article : ${category.articles}" th:object="${article}">
                            <h4 class="article-title">
                                <a th:href="@{/articles/single-article/{id}(id=${article.id})}">
                                    <th:block th:text="*{title}"></th:block>
                                </a>
                            </h4>
                            <div class="person-info">
                                <div class="ratio ratio-1x1 rounded-circle overflow-hidden" th:if="*{user.profilePicture != null}">
                                    <img th:src="'data:' + *{user.profilePicture.type} + ';base64,' + *{user.profilePicture.imageDataBase64}"
                                         th:alt="*{user.profilePicture.name}" class="card-img-top img-cover"/>
                                </div>
                                <p class="posted-by">Posted by:
                                    <th:block th:text="${article.user.fullName}"></th:block> on
                                    <th:block th:text="${#temporals.format(article.createdOn, 'dd-MM-yyyy')}"></th:block></p>
                            </div>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        <th:block th:text="${#strings.abbreviate(article.content, 150)}"></th:block>
                                        <a th:href="@{/articles/single-article/{id}(id=${article.id})}">...read more</a>
                                    </p>
                                    <th:block th:if="*{!pictures.isEmpty()}">
                                        <img th:src="'data:' + *{pictures[0].type} + ';base64,' + *{pictures[0].imageData}"
                                             th:alt="*{pictures[0].name}" class="article-img"/>
                                    </th:block>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div th:classappend="${categoryStat.index != allCategories.getContent().size() - 1} ? 'border-bottom border-2 border-danger-subtle' : ''"></div>
                </section>

                <nav th:replace="~{fragments/pagination-all-categories.html :: pagination-all-categories}"></nav>

            </div>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<div th:replace="~{fragments/modal-new-article.html :: modal-new-article}"></div>

</body>
</html>
