<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>
<div class="site" th:object="${article}">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main-single-post">
        <main class="single-post-site-content">
            <div class="mt-2 mb-4 pb-2 fst-italic border-bottom border-3 border-danger-subtle">
                <h2>
                    <th:block th:text="*{title}"></th:block>
                </h2>
            </div>

            <div class="single-post-main-section-content">

                <section class="single-post-section-category">

                    <div class="article-container">

                        <article>

                            <div class="person-info pt-3">
                                <div class="ratio in-article ratio-1x1 rounded-circle overflow-hidden"
                                     th:if="*{user.profilePicture != null}">
                                    <img th:src="'data:' + *{user.profilePicture.type} + ';base64,' + *{user.profilePicture.imageDataBase64}"
                                         th:alt="*{user.profilePicture.name}" class="exclude card-img-top img-cover">
                                </div>
                                <p class="posted-by">Posted by:
                                    <th:block th:text="*{user.fullName}"></th:block>
                                    on
                                    <th:block th:text="*{#temporals.format(createdOn, 'dd-MM-yyyy')}"></th:block>
                                </p>
                            </div>

                            <div class="article-content">
                                <div class="article-text">
                                        <p class="text-start pre">
                                            <th:block th:text="*{content}"></th:block>
                                        </p>
                                </div>
                                <div id="articlePicturesCarousel" class="carousel slide carousel-fade p-4"
                                     th:if="*{pictures != null || !pictures.isEmpty()}">

                                    <div class="carousel-inner">
                                        <div class="carousel-item fullscreen-image"
                                             th:each="picture, iterStat : *{pictures}"
                                             th:classappend="${iterStat.index == 0} ? 'active' : ''">
                                            <img th:src="'data:' + ${picture.type} + ';base64,' + ${picture.imageData}"
                                                 th:alt="${picture.name}" class="image-slideshow d-block w-100">
                                        </div>

                                        <div class="carousel-indicators">
                                            <button type="button" data-bs-target="#articlePicturesCarouselIndicators"
                                                    th:each="picture, iterStat : *{pictures}"
                                                    th:data-bs-slide-to="${iterStat.index}" class="active"
                                                    aria-current="true"
                                                    th:aria-label="'Slide ' + ${iterStat.index + 1}"></button>
                                        </div>

                                    </div>

                                    <th:block th:if="*{pictures.size() > 1}">
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#articlePicturesCarousel" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#articlePicturesCarousel" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </th:block>
                                </div>
                            </div>

                            <th:block sec:authorize="hasRole('USER')">
                                <th:block th:if="${article.user.email == #authentication.name || #authorization.expression('hasRole(''ADMIN'')')}">
                                    <div class="container d-flex justify-content-around pt-1 pb-4">
                                        <button type="button" class="btn btn-warning border-1 border-black"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editPost">
                                            Edit article
                                        </button>
                                        <button type="button" class="btn btn-danger border-1 border-black"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteArticleModal">
                                            Delete article
                                        </button>
                                    </div>
                                </th:block>
                            </th:block>
                        </article>
                    </div>

                </section>

                <section class="single-post-comments">
                    <!--th:each="comment : ${article.comments}"-->

                    <th:block th:if="${!#lists.isEmpty(comments.getContent())}">

                        <div class="mt-2 mb-4 pb-2 text-start fst-italic border-bottom border-3 border-danger-subtle">
                            <h4>
                                Comments
                            </h4>
                        </div>

                        <div class="comment-container" th:each="comment : ${comments}">
                            <article>
                                <div class="person-info pt-3">
                                    <div class="ratio in-comment ratio-1x1 rounded-circle overflow-hidden"
                                         th:if="${comment.user.profilePicture != null}">
                                        <img th:src="'data:' + ${comment.user.profilePicture.type} + ';base64,' + ${comment.user.profilePicture.imageDataBase64}"
                                             th:alt="${comment.user.profilePicture.name}" class="card-img-top img-cover">
                                    </div>
                                    <p class="posted-by">Posted by:
                                        <th:block th:text="${comment.user.fullName}"></th:block>
                                        on
                                        <th:block th:text="${#temporals.format(comment.createdOn, 'dd-MM-yyyy')}"></th:block>
                                    </p>
                                </div>
                                <div class="comment-content">
                                    <div class="comment-text">
                                        <p class="text-start pre">
                                            <th:block th:text="${comment.commentContent}"></th:block>
                                        </p>
                                    </div>
                                </div>

                                <th:block sec:authorize="hasRole('USER')">
                                    <th:block th:if="${comment.user.email == #authentication.name || #authorization.expression('hasRole(''ADMIN'')')}">
                                        <div class="container d-flex justify-content-around pt-1 pb-4">
                                            <button type="button" class="btn btn-warning btn-sm border-1 border-black"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#editComment">
                                                Edit comment
                                            </button>
                                            <button type="button" class="btn btn-danger btn-sm border-1 border-black"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#deleteCommentModal">
                                                Delete comment
                                            </button>
                                        </div>
                                    </th:block>
                                </th:block>

                                <div th:replace="~{fragments/modal-edit-comment.html :: modal-edit-comment}"></div>
                                <div th:replace="~{fragments/modal-delete-comment.html :: modal-delete-comment}"></div>

                                <th:block th:if="${badCommentEditContent}">
                                    <th:block th:if="${commentId == comment.getId()}">
                                        <div class="alert alert-danger text-center mt-2 mx-5" role="alert">
                                            The field is mandatory.</br>
                                            Comment length must be at least 1 character long.
                                            Please make sure you are entering correct data.
                                        </div>
                                    </th:block>
                                </th:block>

                                <th:block th:if="${badCommentDeletion}">
                                    <div class="alert alert-danger text-center mt-2 mx-5" role="alert">
                                        Something went wrong. Please try to delete your comment again.
                                    </div>
                                </th:block>

                            </article>
                        </div>

                        <nav th:replace="~{fragments/pagination-article-comments.html :: pagination-article-comments}"></nav>

                    </th:block>

                    <div class="comment-container" sec:authorize="isAuthenticated()">
                        <article>
                            <form th:method="POST"
                                  th:action="@{/articles/single-article/comment/{articleId}(articleId=${article.id})}"
                                  id="comment-form">

                                <!--<th:block th:if="${param.articleNotCreated}">
                                    <div class="alert alert-danger text-center mt-2 mb-3" role="alert">
                                        <small>Something went wrong! Please try again!</small>
                                    </div>
                                </th:block>-->

                                <div class="mb-3 text-start">
                                    <label for="commentContent" class="form-label m-3">Comment:</label>
                                    <textarea class="form-control m-auto mw-90"
                                              id="commentContent"
                                              name="commentContent"
                                              rows="5"
                                              placeholder="Write your comment here..."></textarea>
                                    <div class="invalid-feedback alert alert-danger mt-2" id="comment-content-alert">

                                    </div>
                                    <th:block th:if="${badCommentContent}">
                                        <div class="alert alert-danger text-center mt-2 mx-5" role="alert">
                                            The field is mandatory.</br>
                                            Comment length must be at least 1 character long.
                                        </div>
                                    </th:block>
                                </div>

                                <div class="modal-footer justify-content-around border-top mt-3 mb-3">
                                    <button type="button" class="btn btn-secondary mt-3" onclick="redirectToHome()">
                                        Go to Home page
                                    </button>
                                    <button type="submit" class="btn btn-primary mt-3">Post comment</button>
                                </div>
                            </form>

                        </article>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<div th:replace="~{fragments/modal-edit-article.html :: modal-edit-article}"></div>

<div th:replace="~{fragments/modal-delete-article.html :: modal-delete-article}"></div>

<!-- Works - when entering full screen to exit on mobile or desktop click on the image again -->
<script th:src="@{/js/enterAndExitFullScreenImage.js}"></script>

<script th:src="@{/js/redirectToHomeButton.js}"></script>

<script th:src="@{/js/validateCommentForm.js}"></script>

</body>
</html>
