<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main">

        <main class="site-content">

            <div class="mt-2 mb-4 pb-2 fst-italic border-bottom border-3 border-danger-subtle">
                <h2>Latest in:
                </h2>
            </div>

            <div class="main-section-content">

                <section class="section-category" th:each="category: ${categories}" th:object="${category}">

                    <!-- <p><h3 class="section-title">Travel <a href="#"><i class="fa-solid fa-plus"></i></a></h3></p> -->

                    <div class="section-title">
                        <h3><th:block th:text="*{#strings.capitalize(#strings.toLowerCase(name))}"></th:block></h3>
                        <th:block th:if="${#authorization.expression('hasRole(''USER'')')}">
                            <a href="#"
                               class="text-decoration-none"
                               data-bs-toggle="modal"
                               data-bs-target="#createNewPost"
                               th:data-val="*{#strings.toLowerCase(name)}">
                                <div class="icon new-post">
                                    <div class="tooltip">New post</div>
                                    <i class="fa-solid fa-plus"></i>
                                </div>
                            </a>
                        </th:block>
                    </div>

                    <div class="article-container" th:each="article : ${category.getArticles()}" th:object="${article}">
                        <article>
                            <h5 class="article-title pt-2">
                                <a th:href="@{/article/single-article/{id}(id=${article.id})}">
                                    <th:block th:text="*{title}"></th:block>
                                </a>
                            </h5>
                            <div class="person-info">
                                <div class="ratio ratio-1x1 rounded-circle overflow-hidden" th:if="${article.user.profilePicture != null}">
                                    <img th:src="'data:' + ${article.user.profilePicture.type} + ';base64,' + ${article.user.profilePicture.imageDataBase64}"
                                         th:alt="${article.user.profilePicture.name}" class="card-img-top img-cover"/>
                                </div>
                                <p class="posted-by">Posted by:
                                    <th:block th:text="${article.user.fullName}"></th:block> on
                                    <th:block th:text="${#temporals.format(article.createdOn, 'dd-MM-yyyy')}"></th:block></p>
                            </div>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        <th:block th:text="${#strings.abbreviate(article.content, 150)}"></th:block>
                                        <a th:href="@{/article/single-article/{id}(id=${article.id})}">...read more</a>
                                    </p>
                                    <th:block>
                                    <img th:src="'data:' + ${article.pictures[0].type} + ';base64,' + ${article.pictures[0].imageData}"
                                         th:alt="${article.pictures[0].name}" class="article-img"/>
                                    </th:block>
                                </div>
                            </div>
                        </article>

                    </div>
                </section>

            </div>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<div th:replace="~{fragments/modal-new-article.html :: modal-new-article}"></div>

</body>
</html>
