<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main">

        <main class="site-content">

            <div class="mt-2 mb-4 pb-2 fst-italic border-bottom border-3 border-danger-subtle">
                <h2>Latest in:</h2>
            </div>

            <div class="main-section-content">

                <section class="section-category">
                    <!-- <p><h3 class="section-title">Travel <a href="#"><i class="fa-solid fa-plus"></i></a></h3></p> -->

                    <div class="section-title">
                        <h3>Travel</h3>
                        <th:block th:if="${#authorization.expression('hasRole(''USER'')')}">
                        <a href="#"
                           class="text-decoration-none"
                           data-bs-toggle="modal"
                           data-bs-target="#createNewPost"
                           data-val="travel">
                            <div class="icon new-post">
                                <div class="tooltip">New post</div>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </a>
                        </th:block>
                    </div>

                    <div class="article-container">
                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a th:href="@{/categories/article/post}">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/shrine.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/h-c-UCaGli9BqF0-unsplash.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="section-category">
                    <!-- <p><h3>Cars</h3></p> -->

                    <div class="section-title">
                        <h3>Cars</h3>
                        <a href="#"
                           class="text-decoration-none"
                           data-bs-toggle="modal"
                           data-bs-target="#createNewPost"
                           data-val="cars">
                            <div class="icon new-post">
                                <div class="tooltip">New post</div>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </a>
                    </div>

                    <div class="article-container">
                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="https://images.unsplash.com/photo-1605907153179-8b364644a241?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1930&q=80"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="https://images.unsplash.com/photo-1580427331730-b38f8dc1f355?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="https://images.unsplash.com/photo-1619022975927-b37c4982cc49?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="section-category">
                    <!-- <p><h3 class="section-title">Tips</h3></p> -->

                    <div class="section-title">
                        <h3>Tips</h3>
                        <a href="#"
                           class="text-decoration-none"
                           data-bs-toggle="modal"
                           data-bs-target="#createNewPost"
                           data-val="tips">
                            <div class="icon new-post">
                                <div class="tooltip">New post</div>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </a>
                    </div>

                    <div class="article-container">
                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="section-category">
                    <!-- <p><h3 class="section-title">Guides</h3></p> -->

                    <div class="section-title">
                        <h3>Guides</h3>
                        <a href="#"
                           class="text-decoration-none"
                           data-bs-toggle="modal"
                           data-bs-target="#createNewPost"
                           data-val="guides">
                            <div class="icon new-post">
                                <div class="tooltip">New post</div>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </a>
                    </div>

                    <div class="article-container">
                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="/images/header.jpg"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>

                <section class="section-category">
                    <!-- <p><h3 class="section-title">Food</h3></p> -->

                    <div class="section-title">
                        <h3>Food</h3>
                        <a href="#"
                           class="text-decoration-none"
                           data-bs-toggle="modal"
                           data-bs-target="#createNewPost"
                           data-val="food">
                            <div class="icon new-post">
                                <div class="tooltip">New post</div>
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </a>
                    </div>

                    <div class="article-container">
                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="https://images.unsplash.com/photo-1584583570840-0a3d88497593?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2127&q=80"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="https://images.unsplash.com/photo-1526318896980-cf78c088247c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>

                        <article>
                            <h5 class="article-title pt-2"><a href="#">Article title</a></h5>
                            <p class="posted-by">Posted by: {name}{time}</p>
                            <div class="article-content">
                                <div class="article-text">
                                    <p>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                        Libero, dicta aspernatur nam perferendis quam alias hic
                                        praesentium nemo vitae pariatur illo
                                        <a href="#">...read more</a>
                                    </p>
                                    <img src="https://images.unsplash.com/photo-1514190051997-0f6f39ca5cde?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                         class="article-img" alt=""/>
                                </div>
                            </div>
                        </article>
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<div th:replace="~{fragments/modal-new-post.html :: modal-new-post}"></div>

</body>
</html>
