<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Yours sincerely, Japan<!-- Sincerely yours, Japan(American english) -->
    </title>
    <link rel="stylesheet" href="/static/css/site.css" />
  </head>
  <body>
    <div class="site">
      <header class="site-header">
        <div class="h1-container">
          <h1 class="header-title">Yours sincerely, Japan</h1>
        </div>
        <div class="nav-container">
          <nav class="navigation">
            <ul>
              <li>
                <a href="#" class="section">Sections</a>
                <ul>
                  <li><a href="#">Section 1</a></li>
                  <li><a href="#">Section 2</a></li>
                  <li><a href="#">Section 3</a></li>
                </ul>
              </li>
              <li><a href="#">Login</a></li>
              <li><a href="#">Sign up</a></li>
              <li>
                <a href="#"><i class="fa-regular fa-user"></i></a>
                <ul>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">My articles</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>

      <div class="main">
        <main class="site-content">
          <p class="latest-in">Latest in:</p>
          <div class="main-section-content">
            <section class="category-article">
              <h3 class="section-title">Travel</h3>
              <article>
                <h4 class="article-title">Article title</h4>
                <p class="article-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero, dicta aspernatur nam perferendis quam alias hic
                  praesentium nemo vitae pariatur illo corrupti, in non nisi
                  repellat eaque perspiciatis quasi repellendus? Lorem ipsum
                  dolor sit amet consectetur adipisicing elit. Magnam placeat
                  magni animi porro. Optio ex a expedita aperiam voluptatem
                  cupiditate officia, dolorum incidunt doloribus atque eius ad
                  sequi quas. Veniam! Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Numquam, debitis ducimus porro
                  exercitationem illo quidem, tempora beatae dolores quo amet
                  ea. Quaerat totam ipsa aspernatur repellat impedit fuga
                  blanditiis voluptatibus.
                </p>
              </article>
            </section>
            <section class="category-article">
              <h3 class="section-title">Cars</h3>
              <article>
                <h4 class="article-title">Article title</h4>
                <p class="article-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero, dicta aspernatur nam perferendis quam alias hic
                  praesentium nemo vitae pariatur illo corrupti, in non nisi
                  repellat eaque perspiciatis quasi repellendus? Lorem ipsum
                  dolor sit amet consectetur adipisicing elit. Magnam placeat
                  magni animi porro. Optio ex a expedita aperiam voluptatem
                  cupiditate officia, dolorum incidunt doloribus atque eius ad
                  sequi quas. Veniam! Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Numquam, debitis ducimus porro
                  exercitationem illo quidem, tempora beatae dolores quo amet
                  ea. Quaerat totam ipsa aspernatur repellat impedit fuga
                  blanditiis voluptatibus.
                </p>
              </article>
            </section>
            <section class="category-article">
              <h3 class="section-title">Tips</h3>
              <article>
                <h4 class="article-title">Article title</h4>
                <p class="article-content">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Libero, dicta aspernatur nam perferendis quam alias hic
                  praesentium nemo vitae pariatur illo corrupti, in non nisi
                  repellat eaque perspiciatis quasi repellendus? Lorem ipsum
                  dolor sit amet consectetur adipisicing elit. Magnam placeat
                  magni animi porro. Optio ex a expedita aperiam voluptatem
                  cupiditate officia, dolorum incidunt doloribus atque eius ad
                  sequi quas. Veniam! Lorem ipsum dolor sit, amet consectetur
                  adipisicing elit. Numquam, debitis ducimus porro
                  exercitationem illo quidem, tempora beatae dolores quo amet
                  ea. Quaerat totam ipsa aspernatur repellat impedit fuga
                  blanditiis voluptatibus.
                </p>
              </article>
            </section>
          </div>
        </main>

        <aside class="site-sidebar">
          <section class="aside-section-categories">
            <h3>Categories</h3>
            <nav class="aside-nav">
              <ul>
                <li><a href="#">Stuff</a></li>
                <li><a href="#">Something</a></li>
                <li><a href="#">Important</a></li>
                <li><a href="#">Motorcycles</a></li>
              </ul>
            </nav>
          </section>
          <section class="aside-section-social">
            <h3>Social</h3>
            <nav class="aside-nav">
              <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Google+</a></li>
              </ul>
            </nav>
          </section>
        </aside>
      </div>

      <footer class="site-footer">
        <div class="footer-container">
          <div class="copyright">
            <p>All rights reserved. &copy; 2023</p>
          </div>
          <div class="footer-wrapper-logos">
            <p>
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
              <a href="#"><i class="fa-brands fa-instagram"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </p>
          </div>
          <div class="footer-wrapper-links">
            <p>
              <a href="#">Contacts</a>
              <a href="#">About</a>
              <a href="#">Privacy policy</a>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
