<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Login</title>
    <link rel="stylesheet" href="/css/site.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main" id="main-login">

        <main class="site-login">

            <div class="mt-2 mb-4 pb-2 text-center border-bottom border-3 border-danger-subtle"><h2>Login</h2></div>

            <form class="mx-auto w-auto h-auto bg-blur needs-validation" id="login-form"
                  th:action="@{/users/login}" th:method="POST"
                  novalidate>

                <div class="form-group pb-3">

                    <div class="label-holder text-white text-center justify-content-center">
                        <h3><label for="email">Email:</label></h3>
                    </div>
                    <input type="text"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="email@example.com"
                           size="40"
                           required/>
                    <div class="invalid-feedback alert alert-danger" id="email-alert">

                    </div>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white text-center d-flex justify-content-center">
                        <h3><label for="password">Password:</label></h3>
                    </div>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           required/>
                    <div class="invalid-feedback alert alert-danger" id="password-alert">

                    </div>
                </div>

                <th:block th:if="${badCredentials}">
                    <div class="invalid-feedback alert alert-danger d-flex align-items-center"
                         role="alert">
                        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                            <use xlink:href="#exclamation-triangle-fill"/>
                        </svg>
                        <div>
                            Incorrect email or password!
                        </div>
                    </div>
                </th:block>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-lg btn-primary mt-3 mb-2 border">
                        Login
                    </button>
                </div>

                <!--<th:block th:if="${param.isRegistered}">
                    <div class="alert alert-success text-center" role="alert">
                        <strong>Thank you for signing up!</strong></br>
                        A confirmation email has been sent to your email address.</br>
                        Please check your inbox and follow the instructions to activate your account.</br>
                        If you don't receive the email within a few minutes, please check your spam folder.
                    </div>
                </th:block>-->

            </form>

            <div class="d-flex mw-50 justify-content-center align-content-center">
                <th:block th:if="${param.isRegistered}">
                    <div class="alert alert-success text-center" role="alert">
                        <strong>Thank you for signing up!</strong></br>
                        A confirmation email has been sent to your email address.</br>
                        Please check your inbox and follow the instructions to activate your account.</br>
                        If you don't receive the email within a few minutes, please check your spam folder.
                    </div>
                </th:block>
                <th:block th:if="${param.isInvalidToken}">
                    <div class="alert alert-danger text-center" role="alert">
                        Oops! It seems like the confirmation link is invalid.</br>
                        Please make sure you are using the correct link.
                    </div>
                </th:block>
            </div>

        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
</svg>

<script th:src="@{/js/validateLoginForm.js}"></script>

<!--<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>-->
</body>
</html>
