<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html :: head}"></head>

<body>
<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main-news">
        <main class="news-site-content">
            <div class="mt-2 mb-4 pb-2 border-bottom border-3 border-danger-subtle">
                <h2 class="fst-italic">Latest news from Japan</h2>
            </div>

            <div class="news-main-section-content">

                <section class="news-section-category">

                    <div id="news-article-container" class="article-container">


                    </div>
                </section>
            </div>

        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>
<script th:src="@{/js/news.js}"></script>
</body>
</html>
