<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Post</title>
    <link rel="stylesheet" href="/css/site.css"/>
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"
    ></script>
    <script src="/static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">-->
</head>
<body>
<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main-single-post">
        <main class="single-post-site-content">
            <div class="mt-2 mb-4 pb-2 border-bottom border-3 border-danger-subtle">
                <h2>Article title</h2>
            </div>

            <div class="single-post-main-section-content">

                <section class="single-post-section-category">

                    <div class="article-container">

                        <article>

                            <p class="posted-by pt-3">Posted by: {name}{time}</p>

                            <div class="article-content">
                                <div class="article-text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur
                                        nam perferendis quam alias hic praesentium nemo vitae pariatur illo. Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.Lorem ipsum
                                        dolor sit amet consectetur adipisicing elit. Libero, dicta aspernatur nam
                                        perferendis quam alias hic praesentium nemo vitae pariatur illo.</p>

                                    <div id="carouselExample" class="carousel slide carousel-fade p-4">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active fullscreen-image">
                                                <img src="/images/h-c-UCaGli9BqF0-unsplash.jpg" class="d-block w-100"
                                                     alt="...">

                                            </div>
                                            <div class="carousel-item fullscreen-image">
                                                <img src="/images/header.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item fullscreen-image">
                                                <img src="/images/header-2.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item fullscreen-image">
                                                <img src="https://www.cia.gov/the-world-factbook/static/fc4aa090c581a796d36da8a5fbeec6a7/4fe8c/Japan_Silver_Pavillion_Kyoto_2.jpg"
                                                     class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item fullscreen-image">
                                                <img src="/images/shrine.jpg" class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item fullscreen-image">
                                                <img src="https://images.unsplash.com/photo-1697442427523-52ea33e192a6?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=4160"
                                                     class="d-block w-100" alt="...">
                                            </div>
                                            <div class="carousel-item fullscreen-image">
                                                <img src="https://images.unsplash.com/photo-1697442054123-ddb60f191e6e?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                                     class="d-block w-100" alt="...">
                                            </div>

                                            <div class="carousel-indicators">
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="0" class="active" aria-current="true"
                                                        aria-label="Slide 1"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="1" class="active" aria-current="true"
                                                        aria-label="Slide 2"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="2" class="active" aria-current="true"
                                                        aria-label="Slide 3"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="3" class="active" aria-current="true"
                                                        aria-label="Slide 4"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="4" class="active" aria-current="true"
                                                        aria-label="Slide 5"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="5" class="active" aria-current="true"
                                                        aria-label="Slide 6"></button>
                                                <button type="button" data-bs-target="#carouselExampleIndicators"
                                                        data-bs-slide-to="6" class="active" aria-current="true"
                                                        aria-label="Slide 7"></button>
                                            </div>

                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                                data-bs-target="#carouselExample" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                                data-bs-target="#carouselExample" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- <div class="fullscreen-button" id="fullscreen-button"><i class="fa-solid fa-xmark"></i></div> -->
                    </div>
                </section>
            </div>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<!-- Works - when entering full screen to exit on mobile or desktop click on the image again -->

<script>

    const fullscreenImages = document.querySelectorAll('img');

    // Function to enter full-screen
    function enterFullscreen(element) {
        if (element.requestFullscreen) {
            element.requestFullscreen();
        } else if (element.mozRequestFullScreen) {
            element.mozRequestFullScreen(); // Firefox
        } else if (element.webkitRequestFullscreen) {
            element.webkitRequestFullscreen(); // Chrome, Safari, and Opera
        } else if (element.msRequestFullscreen) {
            element.msRequestFullscreen(); // Internet Explorer
        }
    }

    // Function to exit full-screen
    function exitFullscreen() {
        if (document.exitFullscreen) {
            document.exitFullscreen();
        } else if (document.mozCancelFullScreen) {
            document.mozCancelFullScreen(); // Firefox
        } else if (document.webkitExitFullscreen) {
            document.webkitExitFullscreen(); // Chrome, Safari, and Opera
        } else if (document.msExitFullscreen) {
            document.msExitFullscreen(); // Internet Explorer
        }
    }

    // Toggle full-screen mode when images are clicked
    fullscreenImages.forEach((img) => {
        img.addEventListener('click', () => {
            if (!document.fullscreenElement) {
                enterFullscreen(img);
            } else {
                exitFullscreen();
            }
        });
    });

</script>
</body>
</html>
