<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Privacy policy</title>
    <link rel="stylesheet" href="/css/site.css"/>
</head>
<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

     <div class="main-privacy">
         <main class="privacy-site-content">
             <div class="mt-2 mb-4 pb-2 border-bottom border-3 border-danger-subtle">
                 <h2>Privacy policy</h2>
             </div>

             <div class="privacy-main-section-content">

                 <section class="privacy-section">

                     <div class="privacy-container">

                         <article>

                             <div class="privacy-content">
                                 <div class="privacy-text">
                                     <p>
                                         <strong>Thank you for choosing to be part of the "Yours Sincerely, Japan" community.</br>
                                             This Privacy Policy describes how we collect, use, disclose, and protect your personal information.</strong></br></br>

                                         <strong>1. Information We Collect:</strong></br></br>

                                         <strong>a.</strong> Personal Information:</br>
                                         When you use our contact form or engage with our community features,
                                         we may collect personal information such as your name, email address,
                                         and any other information voluntarily provided.</br></br>

                                         <strong>b.</strong> Automatically Collected Information:</br>
                                         We may collect non-personal information, including but not limited to IP addresses,
                                         browser types, and device information for analytical and improvement purposes.</br></br>

                                         <strong>2. How We Use Your Information:</strong></br></br>

                                         <strong>a.</strong> Communication:</br>
                                         Your personal information is used to respond to inquiries, comments,
                                         or feedback submitted through our contact form.</br></br>

                                         <strong>b.</strong> Community Interaction:</br>
                                         If you engage with our community features, your username and any information
                                         you choose to share may be visible to other users.</br></br>

                                         <strong>c.</strong> Analytics:</br>
                                         We may use analytics tools to analyze trends, improve content, and optimize user experiences.</br></br>

                                         <strong>3. Cookies and Similar Technologies:</strong></br></br>

                                         <strong>a.</strong> We use cookies and similar technologies to enhance your experience on our website.
                                         You can manage cookie preferences through your browser settings.</br></br>

                                         <strong>4. Third-Party Links:</strong></br></br>

                                         <strong>a.</strong> Our website may contain links to third-party websites.
                                         We are not responsible for the privacy practices or content of these third-party sites.</br></br>

                                         <strong>5. Data Security:</strong></br></br>

                                         <strong>a.</strong> We implement reasonable security measures to protect
                                         your personal information from unauthorized access, disclosure, alteration, and destruction.</br></br>

                                         <strong>6. Your Choices:</strong></br></br>

                                         <strong>a.</strong> You have the right to access, correct, or delete your personal information.
                                         You may also choose to opt-out of certain communications.</br></br>

                                         <strong>7. Updates to Privacy Policy:</strong></br></br>

                                         <strong>a.</strong> This Privacy Policy may be updated periodically.
                                         We will notify you of any material changes by posting the updated policy on this page.</br></br>

                                         <strong>8. Contact Us:</strong></br></br>

                                         <strong>a.</strong> If you have any questions or concerns regarding our Privacy Policy,
                                         please contact us at <a href="mailto:yourssincerelyjapan@gmail.com">yourssincerelyjapan@gmail.com</a>.</br></br>

                                         <strong>9. Legal Compliance:</strong></br></br>

                                         <strong>a.</strong> This Privacy Policy is intended to comply with applicable privacy laws and regulations.
                                         It does not create any contractual or legal rights on behalf of any party.</br></br>

                                         <strong>By using our website, you consent to the terms outlined in this Privacy Policy.</strong>
                                     </p>
                                 </div>
                             </div>

                         </article>
                     </div>

                 </section>

             </div>
         </main>
     </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>
</body>
</html>