<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/site.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main" id="main-registration">

        <main class="site-registration">

            <!-- <form class="mx-auto w-auto h-auto bg-blur needs-validation" novalidate>
                <div class="col-md-4 justify-content-center">
                  <label for="validationCustom01" class="form-label">First name</label>
                  <input type="text" class="form-control" id="validationCustom01" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 justify-content-center">
                  <label for="validationCustom02" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="validationCustom02" value="" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 justify-content-center">
                  <label for="validationCustom03" class="form-label">City</label>
                  <input type="text" class="form-control" id="validationCustom03" required>
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-4 justify-content-center">
                  <label for="validationCustom05" class="form-label">Password</label>
                  <input type="password" class="form-control" id="validationCustom05" required>
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>
                <div class="col-md-4 justify-content-center">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                      Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                      You must agree before submitting.
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Submit form</button>
                </div>
              </form> -->

            <div class="mt-2 mb-4 pb-2 text-white text-center border-bottom border-3 border-danger-subtle"><h2>Create
                account</h2>
            </div>

            <form class="mx-auto w-auto h-auto bg-blur needs-validation"
                  novalidate>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <h3><label for="displayName">Display name:</label></h3>
                    </div>
                    <input type="text"
                           class="form-control"
                           id="displayName"
                           name="displayName"
                           placeholder="John Doe"
                           errorclass="is-invalid"
                           required/>
                    <div class="alert alert-danger"><span>Error Message</span></div>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <h3><label for="email">Email:</label></h3>
                    </div>
                    <input type="text"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="name@example.com"
                           errorclass="is-invalid"
                           required/>
                    <div class="alert alert-danger"><span>Error Message</span></div>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <h3><label for="password">Password:</label></h3>
                    </div>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           errorclass="is-invalid"
                           required/>
                    <div class="alert alert-danger"><span>Error Message</span></div>
                </div>

                <div class="form-group">
                    <div class="label-holder text-white d-flex justify-content-center">
                        <h3><label for="confirmPassword">Confirm password:</label></h3>
                    </div>
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           name="confirmPassword"
                           errorclass="is-invalid"
                           required/>
                    <div class="alert alert-danger" role="alert"><span>Error Message</span></div>
                </div>

                <div class="text-danger">Incorrect email or password!</div>
                <div class="alert alert-danger" role="alert">
                    This is a danger alert—check it out!
                </div>

                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                        <use xlink:href="#exclamation-triangle-fill"/>
                    </svg>
                    <div>
                        An example danger alert with an icon
                    </div>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-lg btn-primary mt-3 mb-2 border">
                        Login
                    </button>
                </div>

            </form>
        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>
</body>
</html>