<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="/css/site.css"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
</head>
<body>

<div class="site">

    <header th:replace="~{fragments/header.html :: header}"></header>

    <div class="main" id="main-registration">

        <main class="site-registration">

            <div class="mt-2 mb-4 pb-2 text-center border-bottom border-3 border-danger-subtle"><h2>Create account:</h2>
            </div>

            <form class="pb-5 mx-auto w-auto h-auto bg-blur needs-validation" id="registration-form"
                  novalidate th:action="@{/users/registration}" th:method="POST" th:object="${userRegistrationDTO}" enctype="multipart/form-data">

                <div class="form-group pb-3">
                    <div class="label-holder text-white text-center justify-content-center">
                        <h3><label for="fullName">Full name</label></h3>
                    </div>
                    <input type="text"
                           class="form-control"
                           id="fullName"
                           name="fullName"
                           placeholder="John Doe"
                           minlength="1"
                           maxlength="50"
                           th:errorclass="is-invalid"
                           th:field="*{fullName}"
                           size="40"
                           required/>
                    <div class="invalid-feedback alert alert-danger" id="full-name-alert">
                        <th:block th:if="${#fields.hasErrors()}"
                                  th:errorclass="error"
                                  th:errors="*{fullName}"></th:block>
                    </div>
                </div>

                <div class="form-group pb-3">
                    <div class="label-holder text-white text-center justify-content-center">
                        <h3><label for="email">Email</label></h3>
                    </div>
                    <input type="text"
                           class="form-control"
                           id="email"
                           name="email"
                           placeholder="name@example.com"
                           th:errorclass="is-invalid"
                           th:field="*{email}"
                           required/>
                    <div class="invalid-feedback alert alert-danger" id="email-alert">
                        <th:block th:if="${#fields.hasErrors()}"
                                  th:errorclass="error"
                                  th:errors="*{email}"></th:block>
                    </div>
                </div>

                <div class="form-group pb-3">
                    <div class="label-holder text-white text-center d-flex justify-content-center">
                        <h3><label for="password">Password</label></h3>
                    </div>
                    <input type="password"
                           class="form-control"
                           id="password"
                           name="password"
                           th:errorclass="is-invalid"
                           th:field="*{password}"
                           required/>
                    <div class="invalid-feedback alert alert-danger" id="password-alert">
                        <th:block th:if="${#fields.hasErrors()}"
                                  th:errorclass="error"
                                  th:errors="*{password}"></th:block>
                    </div>
                </div>

                <div class="form-group pb-3">
                    <div class="label-holder text-white text-center d-flex justify-content-center">
                        <h3><label for="confirmPassword">Confirm password</label></h3>
                    </div>
                    <input type="password"
                           class="form-control"
                           id="confirmPassword"
                           name="confirmPassword"
                           th:errorclass="is-invalid"
                           th:field="*{confirmPassword}"
                           required/>
                    <div class="invalid-feedback alert alert-danger" id="confirm-password-alert">
                        <th:block th:if="${#fields.hasErrors()}"
                                  th:errorclass="error"
                                  th:errors="*{confirmPassword}"></th:block>
                    </div>
                </div>

                <div class="form-group pb-3">
                    <div class="label-holder text-white text-center d-flex justify-content-center">
                        <h3>Choose a profile picture</h3>
                    </div>
                    <div class="mb-3">
                        <input class="form-control" type="file" id="formFile" name="profilePicture" accept="image/png, image/jpeg">
                    </div>
                </div>

                <div class="button-holder d-flex justify-content-center">
                    <button type="submit"
                            class="btn btn-lg btn-primary mt-3 mb-2 border">
                        Sign up
                    </button>
                </div>

            </form>

        </main>
    </div>

    <footer th:replace="~{fragments/footer.html :: footer}"></footer>

</div>

<script th:src="@{/js/validateRegistrationForm.js}"></script>
<!--<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (() => {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        const forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault()
                    event.stopPropagation()
                }

                form.classList.add('was-validated')
            }, false)
        })
    })()
</script>-->

</body>
</html>
