<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Yours sincerely, Japan<!-- Sincerely yours, Japan(American english) -->
    </title>
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body>

    <div class="site">

      <header class="site-header">

        <div class="h1-container">
          <h1 class="header-title">Yours sincerely, Japan</h1>
        </div>

        <div class="nav-container">

          <nav class="navigation">

            <ul>
              <li>
                <a href="#"><i class="fa-regular fa-user"></i></a>
                <ul>
                  <li><a href="#">Settings</a></li>
                  <li><a href="#">My articles</a></li>
                  <li><a href="#">Logout</a></li>
                </ul>
              </li>
              <li>
                <a href="#">Japan</a>
                <ul>
                  <li><a href="#">News</a></li>
                  <li><a href="#">History</a></li>
                  <li><a href="#">Travel guide</a></li>
                  <li><a href="#">Wildlife</a></li>
                  <li><a href="#">Interesting facts</a></li>
                </ul>
              </li>
              <li>
                <a href="#" class="category-drop-down">Category</a>
                <ul>
                  <li><a href="#">Category 1</a></li>
                  <li><a href="#">Category 2</a></li>
                  <li><a href="#">Category 3</a></li>
                </ul>
              </li>
              <li><a href="/templates/login.html">Login</a></li>
              <li><a href="/templates/registration.html">Sign up</a></li>
            </ul>
          </nav>
        </div>
      </header>

      

      <footer class="site-footer">
          <div class="copyright">
            <p>All rights reserved. &copy; 2023</p>
          </div>
          <div class="footer-wrapper-logos">
            <p>
              <a href="https://www.facebook.com/YoursSincerelyJapan"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/yourssincerelyjapan/"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://twitter.com/YoursJapan"><i class="fa-brands fa-x-twitter"></i></a>
            </p>
          </div>
          <div class="footer-wrapper-links">
            <p>
              <a href="#">Contacts</a>
              <a href="#">About</a>
              <a href="#">Privacy policy</a>
            </p>
          </div>
      </footer>

    </div>
  </body>
</html>
